<div class="chat-container">
  <div id="messages" class="messages">
  </div>

  <div class="message-form">
    <input type="text" id="message-input" placeholder="メッセージを入力">
    <button id="send-button">送信</button>
  </div>
</div>
